# User-specific files and directories
.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.config/
.fontconfig/
.gitconfig
.kube/
.lesshst
.local/
.minikube/
.node_repl_history
.npm/
.nvm/
.pki/
.profile
.rustup/
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.yarn/
.yarnrc
full_outputs/
snap/
vault-client/
vault/
